<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<div class="col-sm-4 col-sm-offset-4" style="margin-top: 20px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            YASSOS - <span th:text="#{login.title}"></span>
        </div>
        <form class="panel-body" method="post" action="/sign-on">
            <input th:name="${redirect_url_name}" th:value="${redirect_url_value}" type="hidden"/>
            <div class="form-group">
                <label for="username" th:text="#{login.username}">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="username"
                       value="admin">
            </div>
            <div class="form-group">
                <label for="password" th:text="#{login.password}">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                       value="123456">
            </div>

            <div th:if="${session.auth_err_msg_key} != null" th:text="${session.auth_err_msg_key}"
                 class="alert alert-danger" role="alert">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="rememberMe" checked
                           th:text="#{login.button.remember-me}">
                </label>
            </div>
            <button type="submit" class="form-control btn btn-default"
                    th:text="#{login.button.sign-on.text}">Submit
            </button>
        </form>
    </div>
</div>
</body>
</html>