<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="schedule-console" version="3.0">
    <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>yassosSinOnFilter</filter-name>
        <filter-class>io.github.hylexus.yassos.web.filter.MyYassosSignOnFilter</filter-class>

        <init-param>
            <param-name>ssoServerLoginUrl</param-name>
            <param-value>http://sso.mine.com:9000/login</param-value>
        </init-param>
        <init-param>
            <param-name>ssoServerUrlPrefix</param-name>
            <param-value>http://sso.mine.com:9000/</param-value>
        </init-param>
        <init-param>
            <param-name>clientSideLogoutUri</param-name>
            <param-value>/yassos-client-sample-web-cookie/logout</param-value>
        </init-param>
        <init-param>
            <param-name>encodeUrl</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>throwExceptionIfTokenValidateException</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>useSession</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>sessionKey</param-name>
            <param-value>yassos_current_session</param-value>
        </init-param>
        <init-param>
            <param-name>ignoreUriPatterns</param-name>
            <param-value>/yassos-client-sample-web-cookie/,/*/index.jsp,/*/index.html</param-value>
        </init-param>
        <init-param>
            <param-name>tokenName</param-name>
            <param-value>x-yassos-token</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>yassosSinOnFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
